<div class="row">
  <div class = "span7">
  	<div class ="upper_section">
<h3>About</h3>

<br><%= link_to "EconBloggers", root_path %> is made for everybody who loves economics and can't stop reading econ blogs.

<br><br>
<b>What is the criteria for any econ blogger to be included in this site?</b>
<br><br>
1.Publish articles/blog posts in popular news publications or blogs.<br><br>
2.Have an academic or professional background in economics. 
<br><br>
<b>How are the '<%= link_to "Top Econ Bloggers", authors_path %>' determined?</b>
<br><br>
They are simply ranked by the number of users that have starred them.
</div>
</div>
</div>