<div class="row">
  <div class = "span7">
  	<div class ="upper_section">
<h3>About</h3>

<br><%= link_to "EconBloggers.com", root_path %> is made for people who can't stop reading econ blogs.

<br><br>
<b>By which criteria are econ bloggers included in this site?</b>
<br><br>
1.They publish articles/blog posts in popular news publications or blogs.<br>
2.They have an academic or professional background in economics. 
<br><br>
<b>How are the '<%= link_to "Top Econ Bloggers", authors_path %>' determined?</b>
<br><br>
They are simply <%= link_to "ranked", authors_path %> by their number of followers on <%= link_to "EconBloggers.com", root_path %>.
</div>
</div>
</div>