<div class="row">
  <div class = "span7">
<h3>About EconBloggers</h3>

<br>EconBloggers is made for everybody who loves economics and can't stop reading econ blogs.

<br><br>
<b>What is the criteria for an econ blogger to be included in the database?</b>
<br><br>
1.Publish articles/blog posts in popular news publications or blogs.<br><br>
2.Have an academic or professional background in economics. 
<br><br>
<b>How are the 'Top Econ Bloggers' determined?</b>
<br><br>
They are simply ranked by the number of users that have starred them.

</div>
</div>