<% if current_user %>
      <%= render 'shared/topic_menu' if @topics.any? %>
      <%= render 'shared/feed' %>
 
    

    
  </div>  
<% else %>

  <div class="center hero-unit">
    <div class ="hidden-phone"><h1>Welcome to Jurnalo</h1></div>
    <div class ="visible-phone"><h2>Welcome to Jurnalo</h2></div>


     <h2>
      <%= "Share more news!"%>
    </h2>

    <%= link_to "Join now!", "/auth/facebook", id: "sign_in", 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 



