<% if current_user %>
  <div class="row">
    <div class = "span12">  
      <div class ="hidden-phone"><%= render 'shared/post_form' %> </div>  
      <%= render 'shared/topic_menu' %>
      <%= render 'shared/feed' %>
    </div>
    

    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Jurnalo</h1>

     <h2>
      Share the news.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 



