<% if current_user %>
      
      <%= render 'shared/feed' %>
 
    


<% else %>

  <div class="center hero-unit">
    <div class ="hidden-phone"><h1>Jurnalo</h1></div>
    <div class ="visible-phone"><h2>Jurnalo</h2></div>


     <h2>
      Follow your favourite economists!
    </h2>

    <%= link_to "Login now!", "/auth/facebook", id: "sign_in", 
                                class: "btn btn-large btn-primary" %>

  </div>

<% end %> 



