<div class="row">
  <div class = "span7">
<h3>Privacy policy</h3>
<br>1.	Articles you post on Jurnalo are only visible to your Facebook friends and will only show up on your Jurnalo profile page, your Facebook friends' Jurnalo homepage and on Facebook. Jurnalo users who are not your Facebook friends cannot see any of the articles you post on Jurnalo. 
<br><br>2.	When subscribe to an author, 'star' an author or 'like' and article on Jurnalo, this will be visible on your Facebook timeline. 
<br><br>3.	The visibility on Jurnalo of 'comment' and 'like' actions on articles posted on Jurnalo and Jurnalo related actions on Facebook is entirely based on your corresponding privacy settings on Facebook.
 
<br><br>4.	Jurnalo collects personal information when you register or when you provide such information voluntarily.

<br><br>5.	We use cookies and other technologies to find out how you use Jurnalo.

<br><br>6.	Jurnalo accesses information automatically when you visit our site. This information includes URL, IP-address, browser-type, language as well as date and time of your visit.

<br><br>7.	We don't pass on personal information to any third party beyond other Jurnalo users as specified above without your explicit approval.

<br><br>8.	Only summarized de-personalized information is provided to third parties.

<br><br>9.	Personal information is used for providing services requested by the user including services with personalized content.

<br><br>10.	Additionally, we use your personal information for internal research in order to improve your online experience as well as our technologies and services.
</div>
</div>


