<div class="center hero-unit">
     <h2>
      Login for your personalized newsfeed!
    </h2>
    <%= link_to "Signup", signup_path, id: "sign_in", 
                                class: "btn btn-large btn-info" %>

<%= link_to "Login", login_path, id: "sign_in", 
                                class: "btn btn-large btn-info" %>
    <%= link_to "Login via Facebook!", "/auth/facebook", id: "sign_in", 
                                class: "btn btn-large btn-primary" %>

  </div>