<% content_for :title, "Most Followed columnists - " %>
<div class ="upper_section">
<h3>EconBeat's Most Frequently Starred Economists</h3><br><br>
<ol class="profile_microposts">
<% @authors.each do |a| %>
	<% a=Author.find(a) %>
	<%= render a %><br>
	<%end%>
</ol>

</div>