<% content_for :title, "Top 250 Most Followed Authors - " %>
<div class ="upper_section">
<h3>Jurnalo's Top 250 Most Followed Economists</h3><br><br>

<% @authors.each do |a| %>
	<% a=Author.find(a) %>
	<%= link_to a.name, author_path(a) %>,
	<%end%>

</div>