<% content_for :title, "Top 250 Most Followed Authors - " %>
<div class ="upper_section">
<h3>Jurnalo's Top 250 Most Followed Authors</h3><br><br>

<% @authors.each do |a| %>
	<%= link_to Author.find(a).name, author_path(a) %>,
	<%end%>

</div>