<% content_for :title, "Most Followed columnists - " %>
<div class ="upper_section">
<h3>Top Econ Bloggers</h3><br>
<h4>Econ Bloggers most followed by our users:</h4>
<br>
<ol class="profile_microposts">
<% @authors.each do |a| %>
	<% a=Author.find(a) %>
	<%= render a %><br>
	<%end%>
</ol>

</div>