<h3> <%= @author.name %> </h3>
<%= render 'subscribe_form' %>


       <% if @actions.any? %>

      
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
  
        <%end%>
