<% if @starred_actions.any? %>
<div id = "favorite_posts">
        
   Starred
  <ol class="microposts">
<%= render @starred_actions %>
</ol>
</div>
<%end%>
<% if @actions.any? %>
<div id = "latest_posts">
  <ol class="microposts">
<%= render @actions %>
</ol>
</div>




  <br>
  <%= paginate @actions %>
  
<% end %>