<div class = "row">



<div class = "span8">

	<% if @starred_section_actions.any? %>
	<div id = "favorite_posts">
	        
	   Starred
	  <ol class="microposts">
	<%= render @starred_section_actions %>
	</ol>
	</div>
	<br>
	<%end%>
	<% if @popular_actions.any? %>
	<div id = "latest_posts">
		Popular economists
	  <ol class="microposts">
	<%= render @popular_actions %>
	</ol>
	</div>
	 <br> 
	<% end %>
	<br>
	  <%= paginate @popular_actions %>

</div>


</div>