<div class = "row">


<div class = "span8">

	<% if @actions.any? %>
	<div id = "latest_posts">
		<b>Latest By <%= link_to "Top Econ Bloggers", authors_path %></b>
	  <ol class="microposts">
	<%= render @actions %>
	</ol>
	</div>
	 <br> 
	<% end %>
	<br>
	  <%= paginate @actions %>

</div>


</div>