<div class = "row">


<div class = "span5">

	<% if @actions.any? %>
	<div id = "latest_posts">
		Today's recommended articles
	  <ol class="microposts">
	<%= render @actions %>
	</ol>
	</div>
	 <br> 
	<% end %>
	<br>
	  <%= paginate @actions %>

</div>


<div class = "span3">




		<% if @popular && @popular.any? %>
		<div id = "latest_posts">
		Most followed authors<br><br>
	  <ol class="microposts">
	<%= render @popular %>
	</ol>
	</div>
	<%end%>


	</div>
</div>