<div class ="hidden-phone">
  
      <ul class="nav nav-tabs">
        
       <% if params[:topic] == nil %> 
       <li class="active"> 
       <%else%>
       <li>
       <%end%>
        <%= link_to "All", :topic => nil %>
      </li>

      <% @utopics.each do |utopic| %>
      <% if utopic.topic_id != 0 %>
       <% if params[:topic] == utopic.topic.id.to_s %> 
       <li class="active"> 
       <%else%>
       <li>
        <%end%>

       
       <%= link_to utopic.topic.name, :topic => utopic.topic.id %> </li>

       <%end%>
       <%end%>
      
  </ul>
  
</div>