<%= simple_form_for(@invitation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :recipient_email, label: "Friend's email address"  %>

  </div>


    <%= f.submit "Invite", class: "btn btn-large btn-primary" %>

<% end %>
