<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Invite friends</title>
  </head>

  <body>
    
  </body>
</html>


<div class="row">
  

<h1>New invitation <br> (<%= current_user.invitation_limit.to_s %> left)</h1>

<%= render 'form' %>


</div>
